.background{
    height: 75vh;
    background: #020024;
        background: linear-gradient(45deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-background{
    background: #020024;
        background: linear-gradient(45deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#projects h2{
    display: flex;
    justify-content: center;
}
#projects h3 {
    display: flex;
    justify-content: center;
}